@import './default';
@import './login';
@import './hodim';
@import './project_item';
@import './home';
@import './contact';
@import './about';
@import './faq';
@import './videos';
@import './sidebar-project';
@import './intro';
input {
    @include fond(500, 18, 18);
    color: #fff;
    text-transform: capitalize;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}
.text{
    @include fond(500, 18, 18);
    color: #fff;
    text-transform: capitalize;
}