@import './default';
@import './login';
@import './hodim';
@import './project_item';
@import './home';
@import './contact';
@import './about';
input {
    @include fond(500, 18, 18);
    color: #fff;
    background: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}