@import './default';
@import './login';
@import './hodim';
@import './project_item';
@import './home';
@import './contact';
@import './about';
@import './faq';
@import './videos';
@import './sidebar-project';
@import './intro';
input, textarea {
    @include fond(500, 18, 18);
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}
textarea{
    background-color: #fff;
    color: black;
    padding: 20px;
}

.text{
    @include fond(500, 12, 12);
    color: #fff;
    text-transform: capitalize;
}