.bg_img {
    img {
        position: fixed;
        z-index: -10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero {
    height: 100vh;
    background: rgb(237, 240, 247, .10);
    backdrop-filter: blur(5px);


    .sidebar {
        height: 100vh !important;
        padding-top: 20px;
        background: rgb(237, 240, 247, .8);
        padding: 0 20px;
        width: 17%;
        transition: 0.3s;
        @include media(1000px) {
            position: absolute;
            left: -100%;

            &.active {
                left: 0;
                z-index: 3;
                width: 225px;

            }
        }

        &_logo {
            img {
                width: 90% !important;
                object-fit: contain;
                margin: 30px 0 50px 20px;
            }
        }

        .item {
            padding-left: 20px;
            transition: 0.3s;

            &_link {
                margin-bottom: 20px;
                gap: 10px;
                position: relative;
                padding: 10px 20px;
                border: 2px solid #998FB3;
                border-radius: 10px;
                transition: 0.3s;
                user-select: none;
                flex-wrap: wrap;

                &:hover {
                    border-color: $pr_blue;
                }

                &.router-link-active {
                    border-color: $pr_blue;
                }

                &_icon {
                    img {
                        width: 22px;
                        height: 22px;
                        transition: 0.3s;
                        object-fit: cover;
                        color: red;
                    }
                }

                &_title {
                    @include fond(600, 18, 18);
                    color: $pr_black;
                    text-transform: capitalize;
                    text-decoration: none;
                    transition: 0.3s;
                }
            }
        }
    }

    .contents {
        right: 0 !important;
        position: absolute;
        top: 0;
        background: rgb(237, 240, 247, .8);
        padding-top: 20px;
        z-index: 1;

        @include media(1000px) {
            width: 100%;
        }

        &_top {

            @include media(1000px) {
                justify-content: space-between !important;
                align-items: center;
            }

            .sidebar_icon {
                gap: 5px;
                display: none !important;

                @include media(1000px) {
                    display: flex !important;
                }

                span {
                    width: 35px;
                    height: 4px;
                    display: inline-block;
                    background-color: #998FB3;
                    border-radius: 4px;
                }
            }

            .search_form {
                background: #fff;
                border-radius: 10px;

                .search_icon {
                    padding: 10px;
                    cursor: pointer;
                }

                input {
                    background: none;
                    border: none;
                    height: 100%;

                    input:focus {
                        box-shadow: none;
                        border-color: #ced4da;
                    }
                }
            }

            .exit {
                position: relative;

                &_icon {
                    cursor: pointer;
                    background-color: #998FB3;
                    border-radius: 50%;
                    padding: 10px;

                    svg {
                        fill: #fff
                    }
                }

                .profil_modal {
                    position: absolute;
                    top: calc(100% + 20px);
                    right: 0;
                    width: 200px;
                    padding: 5px 0px 10px 0px;
                    background-color: #fff;
                    min-height: 80px;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: 0.3s;
                    transform: translateY(-100%);
                    opacity: 0;
                    visibility: hidden;
                    z-index: 3;

                    &_close {
                        position: relative;

                        &_btn {
                            position: relative;
                            right: 0;
                            border: none;
                            background: none;
                            transform: translateX(150px);
                        }
                    }

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }

                    &_content {
                        @include flex(center, flex-start);
                        gap: 20px;
                        margin-bottom: 10px;
                        padding: 5px 10px;

                        cursor: pointer;

                        padding: 0 20px;

                        &:nth-child(2) {
                            .profil_modal_content_icon {

                                svg {

                                    fill: red;
                                }
                            }
                        }

                        &:nth-child(3) {
                            .profil_modal_content_icon {

                                svg {

                                    fill: blue;
                                }
                            }
                        }

                        &:hover {
                            background-color: #F7F7F7;
                        }

                        &_title {
                            @include fond(600, 18, 18);
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        .content_view {
            padding: 1rem;
            border-radius: 20px;
            background: rgb(237, 240, 247, .5);
            height: 90vh;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }
}



.tahrirlash {

    .title {
        @include fond(700, 25, 25);
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .form_submit {
        label {
            @include fond(500, 18, 18);
            color: rgb(42, 40, 40);
            text-transform: capitalize;

            &>div {
                margin-top: 15px;
                justify-content: center;
                position: relative;

                input {
                    @include fond(500, 15, 15);
                    color: rgb(42, 40, 40);
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    border: 2px solid rgb(42, 40, 40);
                    outline: none;
                    position: relative;
                    z-index: 0;

                    &[type="tel"] {
                        transform: translateY(10px);
                    }

                    &::placeholder {
                        @include fond(500, 15, 15);
                        color: rgb(42, 40, 40);
                    }
                }

                textarea {
                    @include fond(500, 15, 15);
                    color: rgb(42, 40, 40);
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    border: 2px solid rgb(42, 40, 40);
                    outline: none;
                    width: 100%;
                }

                select {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }

                .input-group_icon {

                    transform: translateY(-10px);
                    border: 2px solid rgb(42, 40, 40);
                    padding: 4px;

                    svg {
                        width: 35px;
                        height: 35px;
                    }

                    &.eye {
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }



    }

    &_btn {
        @include flex(center, center);
        width: 100%;
        margin-bottom: 50px;
    }
}