.intro {
    @include media(1000px) {
        display: none;
    }
    .container {
        border-radius: 30px 30px 0px 0px;
        border: 0.535px solid #FFF;
        background: linear-gradient(180deg, rgba(0, 46, 65, 0.29) 0%, rgba(0, 46, 65, 0.00) 100%);
        backdrop-filter: blur(10.690309524536133px);

        .intro_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;

            &_title {
                color: #FFF;

                font-family: 'Roboto' sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                text-transform: uppercase;

                @include media(1200px) {
                    font-size: 17px;
                }
            }

            &_content {
                display: flex;
                align-items: center;
                gap: 40px;

                &_title {
                    color: #FFF;
                    font-family: 'Roboto' sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    text-transform: uppercase;

                    @include media(1200px) {
                        font-size: 17px;
                    }
                }

                &_icon {
                    svg {
                        width: 25px;
                        height: 35px;

                        @include media(1200px) {
                            width: 20px;
                            height: 28px;
                        }
                    }
                }
            }
        }

        .intro_bottom {
            display: flex;
            align-items: flex-start;
            padding: 30px 60px 0px 60px;
            justify-content: space-between;
            border-top: 0.535px solid #FFF;
            background: linear-gradient(180deg, rgba(0, 46, 65, 0.29) 0%, rgba(0, 46, 65, 0.00) 100%);
            backdrop-filter: blur(10.690309524536133px);
            gap: 30px;

            .content {
                width: calc((100% / 4) - 50px);
                position: relative;
                height: 250px;

                @include media(1200px) {
                    width: calc((100% / 4) - 22px);

                }

                &_link {
                    user-select: none;

                    .content_icon {
                        height: 100px;

                        svg {
                            width: 105px;
                            height: 105px;
                            position: absolute;
                            left: -30px;

                            @include media(1200px) {
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }

                    .content_title {
                        font-family: 'Roboto' sans-serif;
                        font-weight: 500;
                        font-size: 26px;
                        color: #FFF;

                        @include media(1200px) {
                            font-size: 22px;
                        }
                    }

                    .content_show {
                        width: 100%;
                        height: 20px;
                        position: absolute;
                        bottom: 0;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background: linear-gradient(180deg, red 0%, red 100%);
                        backdrop-filter: blur(10px);
                        opacity: 0;
                        transform: translateY(100%);
                        transition: 0.2s;
                    }

                    &:hover {
                        .content_show {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }


        }
    }
}

.intro_left {
    border: 2px solid #40545A;
    height: 87vh;
    position: fixed;
    left: 20px;
    top: 120px;
    z-index: 5;
    border-left: none;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    background: rgba(1, 18, 25, 0.36);
    backdrop-filter: blur(27px);
    transition: 0.3s;
    width: 50px;
    padding: 40px 20px;
    display: none;

    @include media(400px) {
        width: 8%;
        padding: 40px 10px;
    }

    &.active {
        width: 300px;
        z-index: 10;

        @include media (400px) {
            width: 85%;
        }

        .intro_top_content {
            display: flex;
        }

        .sidebar-btn {
            rotate: 180deg;
            transform: translateY(50%);
        
        }
    }

    &.active>div {
        display: block;
    }

    @include media(1000px) {
        display: block;
    }

    &>div {
        display: none;

    }

    &_title {
        color: #FFF;
        font-family: 'Roboto' sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include media(400px){
            font-size: 20px;
        }
    }

    .content {

        &_link {
            user-select: none;

            .content_icon {
                margin-bottom: 10px;

                svg {
                    @include media(1200px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .content_title {
                font-family: 'Roboto' sans-serif;
                font-weight: 500;
                font-size: 20px;
                color: #FFF;
                margin-bottom: 20px;

                @include media(1200px) {
                    font-size: 22px;
                }
                @include media(400px){
                    font-size: 18px;
                }
            }
        }
    }

    .sidebar-btn {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #990000;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        @include media(400px){
            width: 35px;
            height: 35px;
        }
    }

    .intro_top_content {
        display: flex;
        align-items: center;
        gap: 40px;
        display: none;

        &_title {
            color: #FFF;
            font-family: 'Roboto' sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            @include media(400px){
                font-size: 20px;
            }
        }

        &_icon {
            svg {
                width: 25px;
                height: 35px;

                @include media(1200px) {
                    width: 20px;
                    height: 28px;
                }
            }
        }
    }


}

.home-pc {
    overflow-y: hidden;

    & .hero {
        height: 250 px;
    }
}

.hero-mb {
    display: none;
}