.login {
    height: 100vh;
    width: 100vw;
    padding: 20px;

    .login_modal {
        background: rgb(237, 240, 247, .2);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        padding: 50px 20px;
        max-width: 500px;
        width: 100%;

        .login_logo {
            margin-bottom: 30px;

            img {
                max-width: 250px;
                width: 100%;
                object-fit: cover;

                @include media(500px) {
                    width: 70%;
                }
            }
        }

        .login_title {
            @include fond(600, 38, 38);
            color: #fff;
            text-transform: capitalize;
            margin-bottom: 30px;

            @include media(500px) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        .form_login {
            &_input {
                max-width: 350px;
                width: 100%;
                gap: 10px;
                background: #E8F0F1;
                backdrop-filter: blur(5px);
                margin-bottom: 20px;
                border-radius: 10px;
                height: 40px;
                padding: 0 0 0 10px;
                border: 1px solid #6C757D;

                &_icon {
                    padding: 3px 0;

                    svg {
                        fill: #6C757D
                    }
                }

                input {
                    width: calc(100% - 30px);
                    border: none;
                    height: 100%;

                    &[type=text]:focus {
                        border: 2px solid #990000;
                    }
                    
                    &[type=password]:focus {
                        border: 2px solid #990000;
                    }

                    @include fond(500, 15, 15);
                    color: $pr_black;
                    padding-left: 10px;

                    &::placeholder {
                        @include fond(500, 15, 15);
                        color: $pr_black;
                        text-transform: capitalize;
                    }
                }
            }

            .login_btn {
                padding: 0.7rem 1.4rem;
                color: #fff;
                letter-spacing: 2px;
                background: none;
                background-color: #990000;
                border: 1px solid $pr_black;
                border-radius: 10px;

                @include media(400px) {
                    padding: 5px 10px;
                    width: 100%;
                }
            }
        }
    }
}