.bg_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -0;
    width: 100%;
}
.background{
    background: url('@/assets/images//back-img.png');
    position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
    height: 89vh;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
.nav {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    @include flex(center, center);
    padding-top: 30px;
    flex-direction: column;

    .item {
        @include flex(center, center);
        gap: 30px;

        &_image {
            input {
                display: none;
            }

            label {
                img {
                    width: 350px;
                    object-fit: cover;
                    height: 41px;
                }
            }
        }
    }

    .title {
        margin-top: 250px;
        width: 800px;

        input {
            width: 100%;
            text-transform: uppercase;
            font-size: 40px;
            height: 70px;
        }
    }

    .category {
        margin-top: 200px;
        border-radius: 30px 30px 0px 0px;
        border: 1px solid #FFF;
        background: linear-gradient(180deg, rgba(0, 46, 65, 0.29) 0%, rgba(0, 46, 65, 0.00) 100%);
        backdrop-filter: blur(20px);
        border-bottom: transparent;
        &_top {
            padding: 20px 20px 0;
            .content_top_title {
                gap: 30px;
            }
        }

        &_bottom {
            margin-top: 50px;
            border-top: 1px solid #FFF;
            background: linear-gradient(180deg, rgba(0, 46, 65, 0.29) 0%, rgba(0, 46, 65, 0.00) 100%);
            backdrop-filter: blur(20px);
          padding: 0 20px;
        }
    }
}