.navigate {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 40px 0;
  z-index: 2;

  & .navigate_list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigate_item {
      label {
        cursor: pointer;
        .imgLogo {
          width: 300px;
          height: 50px;
          object-fit: contain;
        }
      }
    }
  }

  & b {
    color: #fff;
  }

  & .navigate_link {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #900;
    }
  }

  & .active {
    color: #900;
  }

  & .navigate_img {
    width: 322px;
    height: 44px;
    cursor: pointer;
  }
}

.home-sidebar_navbar {
  position: relative;
  padding-bottom: 100px;
  padding-top: 30px;
  display: none;

  @include media(1135px) {
    display: block;
  }

  img {
    width: 300px;
    object-fit: cover;

    @include media(700px) {
      width: 250px;
    }
  }



  .home-sidebar__nav {
    border: 2px solid #40545A;
    height: 87vh;
    position: fixed;
    right: 0;
    top: 120px;
    z-index: 5;
    border-right: none;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    background: rgba(1, 18, 25, 0.36);
    backdrop-filter: blur(27px);
    padding-top: 50px;
    transform: translateX(-30px);
    width: 50px;
    transition: 0.3s;

    @include media(400px) {
      width: 15%;
    }

    .sidebar-btn {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      background-color: #990000;
      position: absolute;
      left: -2px;
      top: 50%;
      rotate: 180deg;
      transform: translate(50%, 50%);
    }

    .home-sidebar__list {
      display: none;

      .home-sidebar__item {
        img {
          width: 90%;
        }

        .home-sidebar__link {
          @include fond(500, 18, 25);
          color: #fff;
          display: inline-block;
          margin-bottom: 5px;
        }

      }
    }

    &.active {
      width: 300px;
      z-index: 10;

      @include media (400px) {
        width: 85%;
      }

      .home-sidebar__list {
        display: block;
      }

      .sidebar-btn {
        rotate: 360deg;
        transform: translate(-50%, -50%);

      }
    }
  }
}